
.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.card {
    background-color: #FFFFCC;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card.nueva {
    background-color:burlywood;
}
textarea {
    border: none;
    resize: none;
    background-color:burlywood;

}

textarea:focus{
    outline: none;
    
}

.guardar {
    margin-left: 40px;
    background-color:gray;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
}
.guardar:hover{
    background-color: greenyellow;
    cursor: pointer;
}
.btn-close {
    margin-left: 190px;
    padding-left: 60px;
}
