
.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.card {
    background-color:bisque;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.nota.nueva {
    background-color: aqua;
}

.btn-close {
    align-items: center;
    display: flex;
    justify-content: space-between;
}